<!DOCTYPE html>
<html>
  <head>
    <title>Ololo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "faculties", faculties_path%>
    <%= link_to "groups", groups_path%>
    <%= link_to "new group", new_group_path%>
    <%= link_to "contacts", univer_contacts_path%>
    <%= yield %>
  </body>
</html>
